## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
    <head>
		<meta charset="utf-8">
		%if description:
		<meta name="description" content="${description}">
		%endif
		<meta name="viewport" content="width=device-width">
		<title>${title|striphtml} | ${blog_title|striphtml}</title>
		<link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/code.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="/assets/js/jquery.colorbox-min.js"></script>
		${html_feedlinks()}
		%if permalink:
		  <link rel="canonical" href="${abs_link(permalink)}">
		%endif
		%if favicons:
			%for name, file, size in favicons:
				<link rel="${name}" href="${file}" sizes="${size}"/>
			%endfor
		%endif
		% if comment_system == 'facebook':
			<meta property="fb:app_id" content="${comment_system_id}">
		% endif
		${mathjax_config}
		%if use_cdn:
			<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		%else:
			<!--[if lt IE 9]><script src="/assets/js/html5.js"></script><![endif]-->
		%endif
		${extra_head_data}
		<%block name="extra_head">
		### Leave this block alone.
		</%block>
		${template_hooks['extra_head']()}
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
		<link href="//yellowco.in/static/css/main.css" rel="stylesheet"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="login-bar">
				<div class="container">
					${template_hooks['page_header']()}
					<div class="row">
						<div class="col-xs-12 hidden-xs">
							<div class="social pull-right">
								<a href="//facebook.com/"><i class="fa fa-facebook"></i></a>
								<a href="//twitter.com/"><i class="fa fa-twitter"></i></a>
								<a href="//reddit.com/"><i class="fa fa-reddit">&nbsp;</i></a>
								<a href="#"><i class="fa fa-phone"></i></a>
								<a href="#"><i class="fa fa-envelope"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" target="_self" href="//yellowco.in/"><img src="//yellowco.in/static/img/logo-55h.png" alt="Yellowcoin"/></a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right" role="navigation">
							<li class=""><a target="_self" href="//yellowco.in/">Home<br/><small>it starts here</small></a></li>
							<li class=""><a target="_self" href="//yellowco.in/about/">About<br/><small>get to know us</small></a></li>
							<li class=""><a target="_self" href="//blog.yellowco.in/">Blog<br/><small>what we're up to</small></a></li>
							<li class=""><a target="_self" href="//yellowco.in/contact-us/">Contact Us<br/><small>have a question?</small></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>${blog_title}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<%block name="belowtitle">
						%if len(translations) > 1:
						<small>
							${messages("Also available in:")}&nbsp;
							${base.html_translations()}
						</small>
						%endif
						</%block>
						<ul class="nav nav-pills nav-stacked">
							${base.html_navigation_links()}
							${template_hooks['menu']()}
							${template_hooks['menu_alt']()}
						</ul>
					</div>
					<div class="col-md-10">
						<%block name="content"></%block>
					</div>
				</div>
			</div>
			<div id="push"></div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						Site Map | Terms of Service | Legal
						<ul>
							<li><a href="//yellowco.in/about/">About</a></li>
							<li>Security</li>
							<li>Fees</li>
							<li>Blog</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h6>Resources</h6>
						<ul>
							<li><a href="//yellowco.in/api/">Developer API</a></li>
							<li><a href="//yellowco.in/contact-us/">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3" id="footer-logo">
						<div class="row"><div class="col-md-12 text-center"><img src="//yellowco.in/static/img/logo-hexagon-55h.png" alt="Yellowcoin"/></div></div>
						<div class="row">
							<div class="social">
			<a href="//facebook.com/"><i class="fa fa-facebook"></i></a>
			<a href="//twitter.com/"><i class="fa fa-twitter"></i></a>
			<a href="//reddit.com/"><i class="fa fa-reddit">&nbsp;</i></a>
			<a href="#"><i class="fa fa-phone"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>

						</div>
						<div class="row">
						<div class="col-md-12">
						<small id="copyright">&copy; Yellowcoin 2013. All rights reserved.</small>
						</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
		<%block name="extra_js"></%block>
		${body_end}
		${template_hooks['body_end']()}
	</body>
</html>